$mobile-size: 640px;
$accent: #7b879d;
$primary: hsl(225, 100%, 94%);
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$mainBg: hsl(217, 54%, 11%);
$cardBg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);